body {
    background: url("../img/background1.png") no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding: 47px 0 15px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1028px;
    margin: 0 auto;
}

.header {
    margin: 0 0 17px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner__logo {
    display: flex;
    align-items: center;
}
.header__inner__logo-img-hover {
    display: none;
}

.header__inner__logo:hover .header__inner__logo-img {
    display: none;
}
.header__inner__logo:hover .header__inner__logo-img-hover {
    display: block;
}

.header__inner__logo img {
    margin-right: 8px;
    width: 100%;
}

.header__inner__logo__txt {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.header__inner__logo:hover .header__inner__logo__txt {
    color: #F26522;
}

.header__inner__logo__txt-size {
    font-size: 18px;
    line-height: 18px;
}

.header__inner__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.header__inner__contacts__link {
    margin-bottom: 19px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}
.header__inner__contacts__link:hover {
    color: #F26522;
}
.header__inner__contacts__link:last-child {
    margin-bottom: 0;
}

.main {
    margin-bottom: 50px;
}

.main__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 66px;
    grid-row-gap: 37px;
}

.main__content__card__item {
    position: relative;
    margin-bottom: 20px;
    width: 300px;
    height: 220px;
    overflow: hidden;
    border: 4px solid transparent;
    background: linear-gradient(to top, #ffffff 0%, #000000 100%) border-box;
}

.main__content__card__hover {
    background: #F26522;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 7px 16px 12px;
    bottom: -60px;
    transition: .5s;
}

.main__content__card__hover__details {
    color: #FFFFFF;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}

.main__content__card__hover__info {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__content__card__name {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
}

.main__content__card__hover__info__link {
    position: relative;
    padding-right: 21px;
    font-size: 14px;
}

.main__content__card__hover__info__link:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 5px;
    background: url("../img/Vector1.svg") no-repeat;
    background-size: contain;
    width: 5px;
    height: 10px;
}

.main__content__card:hover .main__content__card__hover {
    bottom: 0;
}

.main__content__card:hover .main__content__card__name {
    color: #F26522;
}

.footer__copy {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}